version: '3.3'

services:
  yatch-api:
    container_name: yatch-api
    restart: always
    image: node:20.10.0
    ports:
      - 4001:3005
    volumes:
      - ./:/usr/src/yatch
    working_dir: /usr/src/yatch
    networks:
      - monorepo-network

      # FOR PRODUCTION
    command: bash -c "npm install && npm run build && npm run start:prod"

  yatch-batch:
    container_name: yatch-batch
    restart: unless-stopped
    image: node:20.10.0
    ports:
      - 4002:3006
    volumes:
      - ./:/usr/src/yatch
    working_dir: /usr/src/yatch
    networks:
      - monorepo-network

      # FOR PRODUCTION
    command: bash -c "npm install && npm run build && npm run start:prod:batch"

networks:
  monorepo-network:
    driver: bridge
# yatch-next:  localhost: 4000 <=> container: 3000
# yatch-api:   localhost: 4001 <=> container: 3005
# yatch-batch: localhost: 4002 <=> container: 3006
